.navbar{
    height: 60px;
    // border-bottom: 1px solid #03063b;
    border-bottom: 1px solid #fff;
}

.navbar-cont{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
}